.outeroffooter{
    background-color: rgb(255, 255, 255);
    

}

.footer{
    width: 80vw;
    margin: 0 auto;
    color:rgb(22, 22, 22);
    bottom: 0;
    font-size: 1vw;
    line-height: 300%;
    
}

.copyright:nth-child(1){
    font-family: 'Apple-m';
    padding-top:2vh;
}

.copyright:nth-child(2){
    padding-bottom: 3vh;
    padding-top:1vh;
    font-family: 'Apple-m';
}